body {
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 13px;
  margin: 0;
  width: 700px;
  min-height: 100px;
  user-select: none;
}
#loading {
  background: rgba(0, 0, 0, 0.3) url(hourglass.svg) center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header,
#cookies table {
  border-collapse: collapse;
  table-layout: fixed;
}
#header th {
  font-weight: normal;
  text-align: left;
  background-color: #f1f1f1;
}
#header th:not(:first-child):not(:last-child),
#cookies td:not(:first-child):not(:last-child) {
  border: solid 1px #a0a0a0;
  border-top: none;
  border-bottom: none;
}
#cookies td,
#header th {
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header th {
  border-bottom: solid 1px #a0a0a0 !important;
}
#cookies tr:nth-child(even) {
  background-color: #f0f6fd;
}
#cookies tr[data-selected=true] {
  background-color: #306ed4;
  color: #fff;
}

summary {
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

table.cookies tr {
  cursor: pointer;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  text-indent: 3px;
}
input[type=datetime-local] {
  width: 100%;
  box-sizing: border-box;
}
input[type=datetime-local],
input[type=text],
textarea {
  outline: none;
  border: solid 1px #ccc;
}
textarea {
  resize: none;
}

input:disabled {
  opacity: 0.5;
}
input:read-only {
  background-color: transparent;
}

#editor {
  margin-top: 10px;
  background-color: #f1f1f1;
  position: relative;
}
#toolbox {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#editor[data-edited=false] #save,
#editor[data-edited=false] #reset {
  display: none;
}


[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
