@keyframes detect-scroll {
  from, to {
    --can-scroll: ;
  }
}

:root {
  --fg-1: #a1a1a1;
  --fg-2: #fff;
  --fg-3: light-dark(#000, #cecece);
  --bg-1: rgba(0, 0, 0, 0.8);
  --bg-2: rgba(0, 0, 0, 0.3);
  --bg-3: light-dark(#f1f1f1, #2c2c2c);
  --bg-4: light-dark(#f0f6fd, #27282b);
  --bg-5: light-dark(#2196f3, #1169ae);
  --bg-6: light-dark(#d9edf9, #445362);
  --bg-7: light-dark(#e6e6e6, #202020);
  --bg-8: light-dark(#fff, #000);
  --bd-1: light-dark(#d2d2d2, #636363);
  --bd-2: light-dark(#f1f1f1, #202020);

  color-scheme: light dark;
}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  margin: 0;
  min-height: 100px;
  user-select: none;
  height: 100vh;
  color: var(--fg-3);
  accent-color: var(--bg-5);
  timeline-scope: --mmm;
  animation: detect-scroll;
  animation-timeline: --mmm;
}
body[data-popup="true"] {
  width: 800px;
  height: 500px;
}
#loading {
  background: var(--bg-2) url("hourglass.svg") center center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#msg {
  background-color: var(--bg-1);
  color: var(--fg-1);
  position: absolute;
  font-size: 150%;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
}
#msg:empty {
  display: none;
}
#header-container,
#cookies {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-gutter: var(--can-scroll) stable;
  scrollbar-color: var(--fg-4) var(--bg-4);
}
#header-container {
  background-color: var(--bg-4);
}
#cookies {
  scroll-timeline-name: --mmm;
}
#header,
#cookies table {
  border-collapse: collapse;
  table-layout: fixed;
}
#header th {
  font-weight: normal;
  background-color: var(--bg-3);
}
body[data-popup="true"] #header th:not(:first-child, :last-child),
#cookies td:not(:first-child, :last-child) {
  border: solid 1px var(--bd-1);
  border-top: none;
  border-bottom: none;
}
#cookies td:not(:first-child),
#header th:not(:first-child) {
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header th {
  padding: 5px 0;
}
#cookies tr:nth-child(even) {
  background-color: var(--bg-4);
}
#cookies tr[data-selected="true"] {
  background-color: var(--bg-5);
  color: var(--fg-2);
}
summary {
  outline: none;
  cursor: pointer;
  margin-left: 7px;
  height: 4ch;
  line-height: 4ch;
}
summary > input[type="button"] {
  display: inline;
  float: right;
}
summary b {
  font-weight: 500;
  margin-left: 5px;
}
table.cookies tr {
  cursor: pointer;
}
table.cookies tr[data-edited="true"] {
  font-style: italic;
}
input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  text-indent: 3px;
}
select,
input[type="date"],
input[type="time"] {
  width: 100%;
  box-sizing: border-box;
}
select,
input[type="date"],
input[type="time"],
input[type="search"],
input[type="text"],
textarea {
  outline: none;
  border: none;
}
select,
input[type="date"],
input[type="time"],
input[type="search"],
input[type="text"] {
  padding: 5px;
  color: var(--fg-3);
}
input[type="date"]:focus,
input[type="time"]:focus,
input[type="search"]:focus,
input[type="text"]:focus {
  background-color: var(--bg-6);
}
textarea {
  resize: none;
  border: none;
  background-color: var(--bg-7);
  padding: 5px;
}
input[type="submit"],
input[type="button"] {
  padding: 7px 10px;
  border: none;
  color: var(--fg-3);
  background-color: var(--bg-3);
  outline: none;
  cursor: pointer;
}
input:read-only {
  background-color: transparent;
}
input:disabled,
input[type="submit"]:active,
input[type="button"]:active {
  opacity: 0.5;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  input:disabled,
  input[type="submit"]:active,
  input[type="button"]:active {
    opacity: 0.3;
  }
}
input[type="button"][data-cmd="select-all"] {
  border-right: solid 2px var(--bd-2);
}

@media only screen and (max-width: 600px) {
  input[type="button"][data-cmd='select-all'],
  input[type="button"][data-cmd="select-none"] {
    display: none;
  }
}
#editor {
  margin-top: 10px;
  background-color: var(--bg-3);
  position: relative;
}
#editor > div:first-child {
  padding: 5px;
}
#toolbox {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  display: flex;
}
#toolbox input {
  background-color: var(--bg-8);
}
#editor[data-edited="false"] #save,
#editor[data-edited="false"] #reset {
  display: none;
}
body[data-popup="false"] [data-cmd="expand"] {
  display: none;
}
#search-container {
  background-color: var(--bg-3);
  padding: 4px;
}
#cookie-filter {
  background-color: var(--bg-8);
  flex: 1;
  padding-block: 10px;
}
.packed {
  display: inline-flex;
}
.packed > input {
  margin: 0;
}
[hbox] {
  display: flex;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[flex="1"] {
  flex: 1;
}
[flex="3"] {
  flex: 3;
}
[flex="4"] {
  flex: 4;
}
[align="center"] {
  align-items: center;
}
[pack="center"] {
  justify-content: center;
}
[align="end"] {
  align-items: flex-end;
}
[pack="end"] {
  justify-content: flex-end;
}

@media only screen and (max-width: 700px) {
  body[data-popup="false"] td:nth-child(8),
  body[data-popup="false"] th:nth-child(8),
  body[data-popup="false"] td:nth-child(9),
  body[data-popup="false"] th:nth-child(9),
  body[data-popup="false"] td:nth-child(10),
  body[data-popup="false"] th:nth-child(10),
  body[data-popup="false"] td:nth-child(11),
  body[data-popup="false"] th:nth-child(11),
  body[data-popup="false"] td:nth-child(12),
  body[data-popup="false"] th:nth-child(12) {
    display: none;
  }
}

/* hide last draggable */
.draggable:nth-of-type(11) {
  display: none;
}

.hidden {
  display: none;
}
